.cartInputForm {
    padding: 10px;
    background-color: rgb(83, 25, 102);
    display: flex;
    justify-content: space-between;

    .label {
        color: white;
        padding-right: 10px;
    }
}
